h1 {
  font-size: xx-large;
  color:rgb(0, 128, 53)
}

h2 {
  margin-top: 25px;
  font-size: large;
  color:magenta;
  
}

body {
  background-color:orange
}

ol {
  margin: 30px;
  list-style: square;
}

ul  {
  margin: 30px;
  list-style: square;
}